# Database (PlanetScale MySQL)
DATABASE_URL="mysql://USER:PASS@HOST/DB?sslaccept=strict"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# UploadThing (Phase 1)
UPLOADTHING_TOKEN=""

# Redis (BullMQ — Phase 3)
REDIS_URL="redis://localhost:6379"
